## Feature Scaling (Normalization and standardization)

In [20]:
import numpy as np
import seaborn as sns
import pandas as pd
from sklearn.preprocessing import StandardScaler

## load dataSet

In [3]:
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

## we need only four columns so we will just take only four

In [5]:
df2 = df[['survived','pclass','age','parch']]
df2.head()

   survived  pclass   age  parch
0         0       3  22.0      0
1         1       1  38.0      0
2         1       3  26.0      0
3         1       1  35.0      0
4         0       3  35.0      0

In [9]:
df3 = df2.fillna(df2.mean())
df3.head()

   survived  pclass   age  parch
0         0       3  22.0      0
1         1       1  38.0      0
2         1       3  26.0      0
3         1       1  35.0      0
4         0       3  35.0      0

## convert df to matrix and vector

In [16]:
X = df3.drop('survived',axis=1)
X.shape

(891, 3)

In [15]:
y = df3['survived']
y.shape

(891,)

## Now we have to split train and test the data

In [25]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state = 51)

print('Shape of X_train', X_train.shape)
print('Shape of X_test', X_test.shape)
print('Shape of y_train', y_test.shape)
print('Shape of y_test', y_test.shape)

NameError: name 'train_test_split' is not defined

In [ ]:
sc = standardScaler()
sc.fit(X_train) #b/c dont need to scale y b/c y is independent variable

In [27]:
sc.mean_

In [ ]:
sc.scale_

In [ ]:
X_train.describe()

In [ ]:
X_train_sc = pd.DataFrame(X_train_sc,columns=['pclass','age','parch'])
X_test_sc = pd.DataFrame(X_test_sc,columns=['pclass','age','parch'])

In [ ]:
X_train_sc.descibe().round(2)